button {
  margin-top: 8px;
  padding: 6px 12px;
  font-family: Candara;
  font-weight: bold;
  background-color: #92dfec;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #6db5c0;
  color: white;
}
